/docs
.env
/cairo-contracts/WEEK1_PROTOTYPE.md
/cairo-contracts/target
/cairo-contracts/dojo_mainnet.toml
/cairo-contracts/.env

/frontend/.env
/frontend/.env.local
/frontend/.env.example
/frontend/node_modules
/frontend/.next
/frontend/public
/giza-actions/target